/*******************************/
/* GENERAL STYLES */
/*******************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  font-family: "Space Mono", monospace;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: hsl(185, 41%, 84%);
}

img {
  display: block;
  max-width: 100%;
}

p,
h1 {
  overflow-wrap: break-word;
}

.logo {
  margin: auto;
  margin-top: 2.2rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.card {
  align-self: center;
  background-color: hsl(0, 0%, 100%);
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1.2rem;
  border-radius: 20px;
}

.input-label {
  display: block;
  color: hsl(184, 14%, 56%);
  margin-top: 1.2rem;
}

.input-field {
  background-color: hsl(189, 41%, 97%) !important;
  border: none;
  text-align: right;
  font-family: "Space Mono", monospace;
  padding: 0.5rem;
}

.tip-percents {
  margin-right: -0.6rem;
}

input[type="radio"] {
  width: 6.3rem;
  height: 3.3rem;
  border-radius: 5px;
  border: 2px solid hsl(183, 100%, 15%);
  background-color: hsl(183, 100%, 15%);
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-right: -2.4rem;
}

label span:first-of-type {
  position: relative;
  left: -2.3rem;
  bottom: -1rem;
  top: -1.4rem;
  transform: translate(-50%, -50%);
  font-size: calc(24rem / 16);
  color: #fff;
}

input[type="radio"]:checked {
  background-color: hsl(216, 12%, 54%);
  color: white;
}

input[type="radio"]:checked ~ span:first-of-type {
  color: white;
}

.inputs {
  width: 50%;
}

.tip-percent-btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: -20rem;
  position: absolute;
  height: 5.2rem;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.tip-percents {
  display: block;
  margin-left: -2.3rem;
}

.num-people {
  margin-top: 8.6rem;
}

.values {
  background-color: hsl(183, 100%, 15%);
  border-radius: 20px;
  padding: 3.2rem 2rem;
}

.value-heading {
  color: #fff;
}

.values-subheading {
  color: hsl(186, 14%, 43%);
}

/* input[type="radio"] {
  width: 6.3rem;
  height: 3.3rem;
  border-radius: 5px;
  border: 2px solid hsl(183, 100%, 15%);
  background-color: hsl(183, 100%, 15%);
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

input[type="radio"]:checked {
  background-color: hsl(216, 12%, 54%);
  color: white;
}

input[type="radio"]:checked ~ span:first-of-type {
  color: white;
}

label span:first-of-type {
  position: relative;
  left: -4.3rem;
  bottom: -1rem;
  top: -1.4rem;
  font-size: calc(24rem / 16);
  color: #fff;
}

.tip-percents {
  margin-right: -2.6rem;
}

.inputs {
  width: 50%;
} */

#bill-amt {
  background: url(../images/icon-dollar.svg) no-repeat scroll 7px 7px;
  padding-left: 20px;
}

#numPeople-amt {
  background: url(../images/icon-person.svg) no-repeat scroll 7px 7px;
  padding-left: 20px;
}

@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/space-mono-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("fonts/space-mono-v12-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/space-mono-v12-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/space-mono-v12-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/space-mono-v12-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/space-mono-v12-latin-700.svg#SpaceMono") format("svg"); /* Legacy iOS */
}
